body {
	background-image: url(images/background-3.jpeg);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
  	background-attachment: fixed;
	color: rgb(51, 18, 11);
	font-family: Courier, monospace;
	font-size: 30px;
	line-height: 1.6;
	text-justify: center;
}


a{
	text-decoration: none;
	color: rgb(177, 60, 3);
}

a:hover {
	color:rgb(255, 81, 0);
}


h1 {
  margin-bottom: 10px;
  font-size: 35px;
  letter-spacing: 6px;
}

.container {
	width: 1000px;
	margin: 50px auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 230px;
  height: auto;
  margin: 0 10px; 
}

#makeupimg-circle {
	width: 150px;
  	height: 150px;
  	object-fit: cover;
  	border-radius: 50%;
}

#btn-orange {
	background-color: rgb(177, 60, 3);
	color: white;
	padding: 15px 20px;
	border-radius: 6px;
}

#btn-orange:hover {
	background-color:rgb(255, 81, 0);
	color: white;
}


.card-white {
	background: white;
	margin: 50px;
	padding: 40px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0,1,139,0.2);
    text-align: center;
}

.card-white h2{
	margin-top: 10px;
  	font-size: 24px;
  	letter-spacing: 4px;
  	text-align: center;

}

.card-white p{
	font-size: 20px;
	font-weight: lighter;
	text-justify: center;
	letter-spacing: 1px;
	color: rgb(123, 67, 47);
}

.card-white ul{
	padding: 20px;
}

.linkintro-resize {
	font-size: 15px;
	font-weight: lighter;
	letter-spacing: 1px;
	color: rgb(123, 67, 47);
}


.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 50px;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
  .image-container {
    align-items: center;
  }
  .image-container img {
  	width: 150px;
  	height: auto;
  	margin: 0 10px; 
  }
}

@media (max-width: 720px) {
  .container {
    width: 100%;
    max-width: 700px;
  }

  .image-container {
    align-items: center;
  }
  .image-container img {
  	width: 100px;
  	height: auto;
  	margin: 0 10px; 
  }
  h1 {
    font-size: 25px;
    word-wrap: break-word;
  }

  .card-white h2 {
  	font-size: 23px;
  	word-wrap: break-word;
  }

  .card-white p {
    font-size: 18px;
    word-wrap: break-word;
  }

  .list-inline li {
	display: inline;
	}

  .list-inline i{
	font-size: 40px;
	}

}

@media (max-width: 540px) {
  .container {
    width: 100%;
    max-width: 600px;
  }
  .image-container {
    align-items: center;
  }
  .image-container img {
  	width: 80px;
  	height: auto;
  	margin: 0 10px; 
  }
  h1 {
    font-size: 22px;
    word-wrap: break-word;
  }

  .card-white h2 {
  	font-size: 18px;
  	word-wrap: break-word;
  }

  .card-white p {
    font-size: 14px;
    word-wrap: break-word;
  }

  .list-inline li {
	display: inline;
	}

  .list-inline i{
	font-size: 30px;
	}

	#makeupimg-circle{
		width: 100px;
  		height: 100px;
	}
}


